

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;
    align-items: center;
    &__logo {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 26px;
    }
    &__list {

    }
}
.list {
    display: flex;
     
    & > li + li {
        margin-left: 20px;
    }
    li {
        text-decoration: underline;
        
    }
    a {
        color: #000;
    }
}

.logo {
    position: relative;
    width: 26px;
    height: 26px;
    border: 2px solid;
    border-radius: 4px;
    color: #aaa;
    display: inline-block;
    margin-right: 15px;
}
.logo::after,
.logo::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 10px;
    left: -5px;
}
.logo::after {
    transform: rotate(-45deg);
}

.companies {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    &__item {
        margin: 10px;
        display: block;
        color: #000000;
    }
}

.company {
    width: 265px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        // text-align: center;
    }
    &__address {

    }
    &__tel {

    }
}

.title {
    font-size: 25px;
    
}

.add {
    width: 265px;
    height: 250px;
    cursor: pointer;
    border: 2px dashed #555;
    opacity: .3;
    position: relative;
    &:hover, .cross:hover {
        opacity: 1;
    }
    &__cross {
        position: relative;
        width: 90px;
        height: 90px;
        border: 2px solid;
        border-radius: 4px;
        left: calc(50% - 45px);
        top: calc(50% - 45px);
        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 2px;
            background: currentColor;
            border-radius: 5px;
            top: calc(50% - 1px);
            left: calc(50% - 30px);
        }
        &::after {
            transform: rotate(90deg);
        }
    }
}

.fixed {
    position: fixed;
    // width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: RGBA(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    box-shadow: 3px 0px 10px 0px #000;
    opacity: 1;
    &__form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        
    }
    &__label {
        color: #333333;
    }
    &__input {
        background-color: #fff;
        padding: 5px;
        margin: 10px 0;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 0px 8px 0px #f0f0f0;
        width: 290px;
        resize: vertical;
        &::-webkit-input-placeholder       {
            font-size: 13px;
            opacity: 1; 
            transition: opacity 0.3s ease;
        }
        &:focus::-webkit-input-placeholder {
            font-size: 13px;
            opacity: 0; 
            transition: opacity 0.3s ease;
        }
        &:focus::-moz-placeholder          {
            font-size: 13px;
            opacity: 0; 
            transition: opacity 0.3s ease;
        }
        &:focus:-ms-input-placeholder      {
            font-size: 13px;
            opacity: 0; 
            transition: opacity 0.3s ease;
        }
    }
    &__header,
    &__footer {
        background-color: #524d6d;
        padding: 20px 30px;
    }
    &__header {
        text-align: center;
        color: #fff;
    }
    &__button {
        // margin-top: 20px;
    }
}

.button {
    background: #e3e3e3;
    border-radius: 4px;
    padding: 8px 15px;
    border: 1px solid #cccccc;
}

.invisible {
    display: none;
}








.main__title {
    font-size: 35px;
}

.field {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    margin-bottom: 15px;
    padding: 30px;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        margin: 10px;
        opacity: .5;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.comments {
    
    padding: 10px 0;
    &__area {
        margin-top: 10px;
    }
    &__item {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    &__info {
        padding: 10px 0;
    }
    &__author {
        color: #456d8d;
        position: relative;
        &::after {
            content: '';
            width: 3px;
            height: 3px;
            background-color: #777;
            position: absolute;
            border-radius: 50%;
            top: 9px;
            right: -5px;
        }
    }
    &__date {
        font-size: 12px;
        color: #555;
        margin-left: 5px;
    }
    &__text {
        padding-left: 15px;
    }
    &__new {
        textarea {
            margin-top: 10px;
        }
    }
    &__button {
        display: block;
        margin-top: 10px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    main {
        width: 750px;
    }
}
.chat {
    width: 350px;
}
